<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>환율계산</title>

    <script>
        let exchangeRates;

        $(document).ready(function () {
            const url = "/api/v1/";

            $.ajax({
                url: url + "live?source=USD&currencies=KRW,JPY,PHP",
                method: 'GET',
                success: function (response) {
                    if (response.result === "SUCCESS") {
                        exchangeRates = response.data.quotes;
                        $("#exchangeRate").text(exchangeRates.usdkrw);
                    }
                },
                error: function (err) {
                    console.log(err.message);
                }
            });


            $("#remittanceCurrency").change(function () {
                console.log($(this).val());
                const currency = $(this).val();
                let exchangeRate;
                if (currency === 'KRW') {
                    exchangeRate = exchangeRates.usdkrw;
                } else if (currency === 'JPY') {
                    exchangeRate = exchangeRates.usdjpy;
                } else {
                    exchangeRate = exchangeRates.usdphp;
                }
                $("#exchangeRate").text(exchangeRate);
            });

            $("#exchangeRateCalculatorBtn").click(function () {
                const remittanceCurrency = $("#recipientCountry").val();
                const receptionCurrency = "USD";
                const receptionAmount = $("#remittanceAmount").val();
                validAmount(receptionAmount);
                const exchangeRate = $("#exchangeRate").text();
                const requestBody = makeJsonData(remittanceCurrency, receptionCurrency, receptionAmount, exchangeRate);

                $.ajax({
                    url: url + "exchange",
                    method: 'POST',
                    dataType: 'json',
                    data: JSON.stringify(requestBody),
                    success: function (response) {
                        if (response.result === "SUCCESS") {
                            const result = response.data;
                            $("#exchangeRateResult").html("<p>수취금액은 " + result.exchangeAmount + " " + result.currency + " 입니다.</p>");
                        }
                    },
                    error: function (err) {
                        if (err.status === 400) {
                            $('#exchangeRateResult').html("<p style='color: red'>+err.message+</p>");
                        } else{
                            console.log(err.message);
                        }
                    }
                });
            });

            function makeJsonData(remittanceCurrency, receptionCurrency, receptionAmount, exchangeRate) {
                return {
                    "remittanceCurrency": remittanceCurrency,
                    "receptionCurrency": receptionCurrency,
                    "receptionAmount": receptionAmount,
                    "exchangeRate": exchangeRate
                };
            }

            function validAmount(receptionAmount) {
                if (receptionAmount < 0 || receptionAmount > 10000) {
                    $('#exchangeRateResult').html("<p style='color: red'>송금액이 바르지 않습니다</p>");
                    throw new Error('송금액이 바르지 않습니다');
                }
            }
        });


    </script>
</head>
<body>
<h1>환율 계산</h1>
<span>송금국가 : 미국(USD)</span> <br>
<label for='remittanceCurrency'>수취국가 : </label>
<select id='remittanceCurrency'>
    <option value="KRW">한국(KRW)</option>
    <option value="JPY">일본(JPY)</option>
    <option value="PHP">필리핀(PHP)</option>
</select> <br>
<div>환율: <span id="exchangeRate"></span></div>
<label>송금액</label>
<input type="text" id="remittanceAmount"> USD
<br>
<button type="button" id="exchangeRateCalculatorBtn">환율 계산</button>

<div id="exchangeRateResult"></div>
</body>
</html>